{% extends "base.html" %}

{% block main_content %}
<p><a href="/list-files">File list</a></p>
<h2>preview: {{ filename }}</h2>

<div class= "row">

 	<div class="col-xs-12">
  
       {% if ERR_FOUND %}
             <div class="col-xs-12">
                 <div class="alert alert-warning" role="alert">{{ ERR_MSG|safe }}
                <p>Please return to the <a href="/list-files">File list</a></p>     
                </div>                
             </div>
         {% endif %}
    </div>
    <!-- start variable div -->
 	<div class="col-xs-12 col-md-4">
        <table class="table table-condensed">
        {% for v in variables %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/summary/{{ filename }}/{{ v }}">{{ v}}</td>
            </tr>
        {% else %}
            <tr>
                <td>Sorry, no variable names found</td>
            </tr>
        {% endfor %}
        </table>
   	
 	</div><!-- end: variable div -->
    <div class="col-xs-12 col-md-8">

  			{{data|safe}}
	</div>
</div>
{% endblock %}