<!DOCTYPE html>
<html>
	<head>
<!-- Bootstrap core CSS -->
  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheet-table.css')}}" rel="stylesheet" type="text/css">
  
    	<link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<!-- Custom styles for this template -->

	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" rel="stylesheet">

	</head>
	<body>
<h1 id=title-page>
Data Preview Page: Data File ID = {{fileid}}
</h1>


<div class= "container-fluid">

<div class= "row">


 	<div class="col-xs-12 col-md-4">

<table border="1" class = "table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th>Variable Names</th>
    </tr>
  </thead>
  <tbody>

  		{{variables|safe}}

  </tbody>
</table>


 
		
 	</div>
  		<div class="col-xs-12 col-md-8">

  			{{data|safe}}
  		</div>
 	</div>

 	</body>
</html>