<!DOCTYPE html>
<html>
	<head>
<!-- Bootstrap core CSS -->
  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheet-table.css')}}" rel="stylesheet" type="text/css">
  
    	<link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<!-- Custom styles for this template -->

	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" rel="stylesheet">

	</head>
	<body>



<div class= "container-fluid">

<div class= "row">

 	<div class="col-xs-12">
         <p><a href="/list-files">File list</a></p>

            <h3 id=title-page>preview: {{ filename }}</h3>

      
       {% if ERR_FOUND %}
             <div class="col-xs-12">
                 <div class="alert alert-warning" role="alert">{{ ERR_MSG|safe }}</div>                
             </div>
         {% endif %}
    </div>
    <!-- start variable div -->
 	<div class="col-xs-12 col-md-4">
        <table class="table table-condensed">
        {% for v in variables %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/summary/{{ filename }}/{{ v }}">{{ v}}</td>
            </tr>
        {% else %}
            <tr>
                <td>Sorry, no variable names found</td>
            </tr>
        {% endfor %}
        </table>
   	
 	</div><!-- end: variable div -->
    <div class="col-xs-12 col-md-8">

  			{{data|safe}}
  		</div>
 	</div>

 	</body>
</html>