{% extends "base.html" %}

{% block main_content %}
<div class= "row">
    <div class="col-xs-12">
            <p><a href="/list-files">File list</a>
                &nbsp; |&nbsp; <a href="/preview-file/{{ filename }}">File preview</a></p>
            <h3>Metadata for variable <span style="color:#006699;">{{ chosen_variable }}</span> <br />
                File: <span style="color:#006699;">{{ filename }}</span> </h3>
    </div>
    {% if ERR_FOUND %}
      <div class="col-xs-12">
          <div class="alert alert-warning" role="alert">{{ ERR_MSG|safe }}
              <p>Return to the <a href="/preview-file/{{ filename }}">File preview</a></p>
              </div>                
      </div>
    {% endif %}
    {% if not ERR_FOUND %}
 		<div class="col-xs-12 col-md-6">
            <table class="table table-condensed">
            {% for v in variables %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="/summary/{{ filename }}/{{ v }}">{{ v}}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Sorry, no variable names found</td>
                </tr>
            {% endfor %}
            </table>
		</div>
  		<div class="col-xs-12 col-md-6">
            <h4 class="text-center">{{ chosen_variable }}</h4>
      		<table class="table table-striped table-bordered">
      	    	<thead>
          			<tr style="text-align: right;">
              			<th>Summary Metric</th>
              			<th>Variable Value</th>
            		</tr>
          		</thead>
          		<tbody>
                    {% for k, v in summary_dict.items() %}
                    <tr>
                        <td>{{ k }}</td>
                        <td class="text-right">{{ v }}</td>
                    </tr>
                    {% endfor %}
          		</tbody>	
      		</table>
  		</div>
    {% endif %}
    
 	</div>
 </div>
 {% endblock %}